*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color:white;
}

body{
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.58),rgba(0,0,0,0.58)),url('../img/background4t.jpg');
    font-family: "Segoe UI", sans-serif;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 100;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to right,#281821,#161616,#281821);
    /* after many efforts found a beautiful background by testing*/
}

p{
    text-justify: auto;
}

a{
    text-decoration: none;
}

#main-header{
    background: rgba(0,0,0,0.25);
    display: flex;
    padding: 1%;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514) ;
    position: relative;
}

#brand{
    flex: 1;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    margin-left: 1%;
    letter-spacing: 5px;
    transition: all 1s ease-in-out;
    text-shadow: 1px 2px 3px #fff;
}

#brand:hover{
    color: #ff3366;
    transition: all 1s ease-in-out;
    text-shadow: 4px 2px 3px #ff3366a9;
}

#mobile-menu-button{
    display: none;
}

#main-nav{
    flex: 1;
    align-items: center;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 1s ease-in-out;
}


#main-nav >li {
    font-weight: 100;
    flex: 1;
}

#mobile-menu-close-button{
    display: none;
    position: absolute;
    top: 0;
    right: 5%;
    padding-top: 5%;
    cursor: pointer;
}

#header-img{
    position: relative;
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

#header-img > img{
    width: 100%;
    height: auto;
}

#header-img-after{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* .header-container1 >  */
h1,h2{
    text-justify: distribute;
    text-align: center;
    font-weight: 100;
}

.header-container1 , .header-container2{
    flex: 1;
    display: flex;
}

.header-container2{
    flex-direction: column;
    align-self: flex-start;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.sl-active{
    color:#ff3366;
}

#signup-link,#login-link{
cursor: pointer;
}


.signup-login{
    display: flex;
    margin: 5% 0;
    justify-content: center;
    overflow: hidden;
    flex: 1;
    align-items: center;
}

.signup-login > span{
    text-align: center;
    padding: 1%;
    background: black;
}

.signup-login > span:first{
    border-right: 10px solid #fff;
}

.signup-form,.login-form{
    /* align-content: center;
    align-items: center;
    justify-content: center; */
    padding: 1%;
    display: flex;
    flex-direction: column;
    margin: 1% 23%;
    flex:4;
}

/* .signup-form{
    display: none;
} */

textarea{
    overflow: hidden;
}

textarea:hover{
    overflow-y: scroll;
}

.form-row > input[type='submit'],input[type='button']{
    cursor: pointer;
}

.tests{
    resize: none;
    margin: 1% 0;
}

.tests > *{
    margin: 0 1%;
}

.block{
    justify-content: center;
}

.block >a{
    padding: 1%;
    background: rgba(0, 0, 0, 0.5);
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.form-container >h1{
    margin: 2%;
}

.form-container >.form-row{
    margin: 1% 0;
}

.form-row{
    display: flex;
    align-items: center;
}

.form-row > span{
    flex: 1;
    
}

.form-row input,textarea{
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    flex: 1;
}


.score-div{
    display: flex;
    flex-direction: column;
    align-content:space-between;
}

.score-div>*{
    flex: 1;
}

#promo , #promo > p
{
    padding: 1%;
}


footer{
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514) ;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 2%;
    text-align: center;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-weight: 100;
}

.question-container{
    display: flex;
}

.question-content-container{
    flex:3;
}

.question-content-container>* , .question-stats-container>*{
    margin: 3% 2%;
}

.question-stats-container{
    flex:1;  
    height: auto;
    align-self: flex-start;
}

.question-stats-container > span{
    text-align:center;
}


.question-content-container,
.question-stats-container{
    background: rgba(0, 0, 0, 0.5);
    margin: 2%;
    padding: 1%;
}

#code-area{
    width: 96%;
}

.myb{
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.question-row{
    padding: 1%;
    margin: 1% 0;
}

.questions-container > .question-content-container{
    padding: 0;
}

.question-row > h2{
    text-align: left;
}

.question-options{
    display: flex;
}

.question-options>p{
    flex:1;
    margin: 1%;
    color:#585858;
}

.question-options>.myb{
    padding: 1%;
}

@media screen and (max-width: 786px)
{

    #main-nav{
        display: none;
        width: 0;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        padding: 0;
        /* background: blue; */
        background: rgba(36, 58, 58, 0.93);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.514) ;
        top: 0;
        right: 0;
        z-index: 999;
        transition: all 1s ease-in-out;
    }



    #mobile-menu-button{
        display: inline;
        padding-right: 1%; 
        font-size: 25px;
        font-weight: 900;
        cursor: pointer;
    }

    #main-nav > li{
        padding: 5%;
    }

    #main-header {
        display: flex;
    }
    footer{
        padding: 5%;
    }
}